name: Doc

on: [push, pull_request]


jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache: pip
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        make install-dev
        pip install hessianfree git+https://git@github.com/ltatzel/PyTorchHessianFree.git@main
    - name: Build documentation
      run: |
        mkdocs build
