name: Test

on: [push, pull_request]


jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    env:
      USING_COVERAGE: '3.12'
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "${{ matrix.python-version }}"
        cache: pip
    - name: Install graphviz
      run: sudo apt-get update && sudo apt-get install -y graphviz
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        make install-test
    - name: Run test
      run: |
        make test
    - name: Run doctest
      run: |
        make doctest
